<section class="provider-guest-section <%- offWhite ? 'off-white-bg' : '' %>">
  <img src="<%- imageSource %>" alt="<%- imageAlt %>" />
  <h2 class="title-1"><%= title %></h2>
  <div class="provider-section">
    <h3>For Providers</h3>
    <img class="spacer-line" src="/assets/homepage/blue_line.svg" alt="" />
    <p>
      <%= providerSection %>
    </p>
  </div>
  <div class="guest-section">
    <h3>For Guests</h3>
    <img class="spacer-line" src="/assets/homepage/blue_line.svg" alt="" />
    <p>
      <%= guestSection %>
    </p>
  </div>
</section>
